.empty-contents{
    /* width: 542px; */
}
.create-cohort-btn{
    background-color: #008EEF;

}
.empty-message{
    color: #475661;
}
.cancel-btn{
    border: 2px solid #008EEF;
    color: #008EEF;
}