.link {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 17px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.link-active {
    color: #008EEF;
    background-color: #F6FCFF;
    font-size: 18px;
    font-weight: 600;
    

}
.link-active::after {
    content: '';
    position: absolute;
    bottom: -12.7px; 
    left: 0;
    right: 0;
    height: 5px; 
    /* border-radius: 2px; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #008EEF;
}


.link-inactive {
    color: rgb(88, 88, 88);
    font-size: 18px;
    font-weight: 600;
}

.link:hover {
    color:  #008EEF;
}
.content{
    width: 205px;
    height: 76px;
    border: 2px solid red;
}

/* .footer-link-active{
    color: #008EEF;
} */
.footer-link-inactive{
    color: rgb(88, 88, 88);
    font-size: 12px;
    font-weight: 300;
}
.footer-link-active:hover {
    color:  #008EEF;
}
.active-footer{
    color: #008EEF;
}
