.nav-style{
    border-radius: 20px;
    font-size: 15.6px;
    color: #475661;
    /* width: 100%; */
    font-weight: 400;
    width: 200px;
    /* margin-left: 35%; */
    /* margin-bottom: 10px; */
    /* border: 1px solid red; */
    padding: 15px 20px;
  
}
.nav-style:first-child{
    /* margin-top: 35px; */
    /* margin-left: 37%; */
    /* border: 1px solid red; */

 
}

.active-nav-style{
    transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;
    color: #008EEF;
    background-color: #F6FCFF;
    font-size: 15.6px;
    font-weight: 700;
    width: 200px;
    /* margin-left: 35%; */
    /* width: 100%; */
    /* padding: 15px 20px; */
    border-radius: 20px;
    /* margin-left: 37%; */
}
.active-nav-style:first-child{
   
    width: 200px;
    /* margin-left: 37%;
    padding: 15px 20px; */
    /* margin-top: 35px; */
}